<div class="editor-page">
    <div class="container page">
      <div class="row">
        <div class="col-md-10 offset-md-1 col-xs-12">
          <ul class="error-messages" *ngIf="(this.isHavingValidationErrors$|async) === true">
            <li>{{this.editorFormErrors$|async}}</li>
          </ul>
  
          <form [formGroup]="editorForm" (ngSubmit)="submitForm()" #editorFormTemplateVar>
            <fieldset>
              <fieldset class="form-group">
                <input formControlName="title" type="text" class="form-control form-control-lg" placeholder="Article Title" />
              </fieldset>
              <fieldset class="form-group">
                <input formControlName="description" type="text" class="form-control" placeholder="What's this article about?" />
              </fieldset>
              <fieldset class="form-group">
                <textarea
                  formControlName="body"
                  class="form-control"
                  rows="8"
                  placeholder="Write your article (in markdown)"
                ></textarea>
              </fieldset>
              <fieldset class="form-group">
                <input formControlName="tag" type="text" class="form-control" placeholder="Enter tags" (keyup.space)="addTag()"/>
                <div class="tag-list">
                  <span class="tag-default tag-pill" *ngFor="let tag of tagList; let idx = index; trackBy: trackByFn"> <i class="ion-close-round" (click)="removeTag(idx)"></i> {{tag}} </span>
                </div>
              </fieldset>

              <!-- 
                Not use this as button submit, keyup.enter will not work to add tags
                Use template var + call submit 
              -->
              <button class="btn btn-lg pull-xs-right btn-primary" type="submit" [disabled]="(isFormSubmitting$|async) === true">
               <!-- (click)="editorFormTemplateVar.submit()"> -->
                Publish Article
              </button>
            </fieldset>
          </form>
        </div>
      </div>
    </div>
  </div>