<div class="article-preview">
    <rw-article-meta [article]="article">
        <rw-shared-button 
            [buttonType]="ButtonType.Like" 
            [counter]="article.favoritesCount!"
            [isPullRight]="true"
            [isArticleFavorited]="article.favorited"
            (buttonClicked)="onLikeButtonClicked($event)"
        >
        </rw-shared-button>
    </rw-article-meta>
    <a routerLink="/article/{{article.slug}}" class="preview-link">
      <h1>{{article.title}}</h1>
      <p>{{article.description}}</p>
      <span>Read more...</span>
      <ul class="tag-list">
        <ng-container *ngFor="let tag of article.tagList">
            <li class="tag-default tag-pill tag-outline">{{tag}}</li>
        </ng-container>
      </ul>
    </a>
  </div>