<div class="home-page">
    <div class="banner" *ngIf="(this.isLoggedIn$ | async) !== true">
        <div class="container">
            <h1 class="logo-font">conduit</h1>
            <p>A place to share your knowledge.</p>
        </div>
    </div>

    <div class="container page">
        <div class="row">
            <div class="col-md-9">
                <div class="feed-toggle">
                    <ul class="nav nav-pills outline-active">
                        <li class="nav-item">
                            <a class="nav-link" routerLink=""
                                [ngClass]="{'active': ( this.selectedFeedType$ | async ) === FeedType.USER && ( this.selectedTag$ | async ) === null}"
                                (click)="switchToPersonalFeed()">Your Feed</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink=""
                                [ngClass]="{'active': ( this.selectedFeedType$ | async ) === FeedType.GLOBAL && ( this.selectedTag$ | async ) === null}"
                                (click)="switchToGlobalFeed()">Global Feed</a>
                        </li>
                        <li class="nav-item" [hidden]="( this.selectedTag$ | async ) === null">
                            <a class="nav-link active">
                                <i class="ion-pound"></i> {{ this.selectedTag$ | async }}
                            </a>
                        </li>
                    </ul>
                </div>

                <rw-article-list></rw-article-list>
                <rw-paginator></rw-paginator>
            </div>

            <div class="col-md-3">
                <rw-tag-list></rw-tag-list>
            </div>
        </div>
    </div>
</div>