<div class="home-page">
    <div class="banner" *ngIf="(this.isLoggedIn$ | async) !== true">
        <div class="container">
            <h1 class="logo-font">conduit</h1>
            <p>A place to share your knowledge.</p>
        </div>
    </div>

    <div class="container page">
        <div class="row">
            <div class="col-md-9">
                <div class="feed-toggle">
                    <ul class="nav nav-pills outline-active">
                        <li class="nav-item" *ngIf="(this.isLoggedIn$ | async) === true">
                            <a class="nav-link" routerLink="">Your Feed</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" routerLink="">Global Feed</a>
                        </li>
                    </ul>
                </div>

                <ng-container *ngFor="let article of testArticles">
                    <rw-article-preview [article]="article"></rw-article-preview>
                </ng-container>

                <rw-paginator></rw-paginator>
            </div>

            <div class="col-md-3">
                <rw-tag-list></rw-tag-list>
            </div>
        </div>
    </div>
</div>