<ng-container *ngIf="(this.isLoadingArticle$ | async) === true; else loadArticleTemplate">
  <div class="article-page">
    <div class="banner">
      <div class="container">
        <h1>Loading article...</h1>
      </div>
    </div>
  </div>
</ng-container>
<ng-template #loadArticleTemplate>
  <ng-container *ngIf="(this.selectedArticle$ | async) as selectedArticle; ">
    <div class="article-page">
      <div class="banner">
        <div class="container">
          <h1>{{selectedArticle.title}}</h1>

          <ng-container *ngIf="(this.isCurrUserArticleAuthor$ | async) === true; else currUserNotArticleAuthor">
            <rw-article-meta [article]="selectedArticle">
              <a class="btn btn-sm btn-outline-secondary" [routerLink]="['/editor', selectedArticle.slug]">
                <i class="ion-edit"></i> Edit Article
              </a>
              <button class="btn btn-sm btn-outline-danger" (click)="deleteArticle()">
                <i class="ion-trash-a"></i> Delete Article
              </button>
            </rw-article-meta>
          </ng-container>
          <ng-template #currUserNotArticleAuthor>
            <rw-article-meta [article]="selectedArticle">
              <rw-shared-button [buttonType]="ButtonType.Following"
                [isProfileFollowing]="selectedArticle.author?.following"
                (buttonFollowingClicked)="selectedArticle.author?.following ? unfollowProfile() : followProfile()"
                [displayText]="selectedArticle.author?.following ? ' Unfollow ' + selectedArticle.author?.username: ' Follow ' + selectedArticle.author?.username">
              </rw-shared-button>
              <rw-shared-button [buttonType]="ButtonType.Like" [counter]="selectedArticle.favoritesCount!"
                [isArticleFavorited]="selectedArticle.favorited" (buttonFavoriteClicked)="onLikeButtonClicked($event)"
                [displayText]="selectedArticle.favorited ? 'Unfavorite Article' : 'Favorite Article'">
              </rw-shared-button>
            </rw-article-meta>
          </ng-template>
        </div>
      </div>

      <div class="container page">
        <div class="row article-content">
          <div class="col-md-12">
            <p>
              {{selectedArticle.description}}
            </p>
            <div [innerHTML]="selectedArticle.body | markdown"></div>
            <ul class="tag-list">
              <li class="tag-default tag-pill tag-outline" *ngFor="let tag of selectedArticle.tagList">{{tag}}</li>
            </ul>
          </div>
        </div>

        <hr />

        <div class="article-actions">
          <ng-container *ngIf="(this.isCurrUserArticleAuthor$ | async) === true; else currUserNotArticleAuthor">
            <rw-article-meta [article]="selectedArticle">
              <a class="btn btn-sm btn-outline-secondary" [routerLink]="['/editor', selectedArticle.slug]">
                <i class="ion-edit"></i> Edit Article
              </a>
              <button class="btn btn-sm btn-outline-danger" (click)="deleteArticle()">
                <i class="ion-trash-a"></i> Delete Article
              </button>
            </rw-article-meta>
          </ng-container>
        </div>

        <ng-container
          *ngIf="(this.isUserAuthenticated$ | async) === false || (this.isUserAuthenticated$ | async) === null; else commentSectionIfAuthenticated">
          <div>
            <a [routerLink]="['/login']">Sign in</a> or <a [routerLink]="['/register']">sign up</a> to add comments on
            this article.
          </div>
        </ng-container>
        <ng-template #commentSectionIfAuthenticated>
          <div class="row">
            <div class="col-xs-12 col-md-8 offset-md-2">
              <rw-comment-form [articleSlug]="this.selectedArticleSlug"></rw-comment-form>
              @for (comment of (this.articleComments$ | async); track comment.id) {
                <rw-comment [comment]="comment" [articleSlug]="this.selectedArticleSlug">
                </rw-comment>
              }
            </div>
          </div>
        </ng-template>
      </div>
    </div>
  </ng-container>
</ng-template>