<div class="profile-page">
    <div class="user-info">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-10 offset-md-1">
                    <img src="{{(profileSelected$ | async)?.image}}" class="user-img" />
                    <h4>{{(profileSelected$|async)?.username}}</h4>
                    <p>
                        {{(profileSelected$|async)?.bio}}
                    </p>

                    <rw-shared-button [buttonType]="ButtonType.Following"
                        [isProfileFollowing]="isCurrentUserFollowingThisProfile"
                        (buttonFollowingClicked)="isCurrentUserFollowingThisProfile ? unfollowProfile() : followProfile()"
                        [displayText]="isCurrentUserFollowingThisProfile ? ' Unfollow ' + (profileSelected$|async)?.username: ' Follow ' + (profileSelected$|async)?.username">
                    </rw-shared-button>
                    <!-- There is an $event pass out from the dumb component but we simply ignore since we use two method -->


                    <!-- <button class="btn btn-sm btn-outline-secondary action-btn"
                        *ngIf="(this.isThisProfileOfCurrentUser$ | async ) !== true; else ifProfileOfCurrentTemplate"
                        (click)="isCurrentUserFollowingThisProfile ? unfollowProfile() : followProfile()"
                        [disabled]="(isFollowOrUnfollowProfileInProgress$ | async) === true">
                        <i class="ion-plus-round"></i>
                        <ng-container *ngIf="isCurrentUserFollowingThisProfile === true; else followProfileTemplate">
                            &nbsp; Unfollow {{(profileSelected$|async)?.username}}
                        </ng-container>
                        <ng-template #followProfileTemplate>
                            &nbsp; Follow {{(profileSelected$|async)?.username}}
                        </ng-template>
                    </button> -->
                    <!-- <ng-template #ifProfileOfCurrentTemplate>
                        <a [routerLink]="['/settings']" class="btn btn-sm btn-outline-secondary action-btn">
                            <i class="ion-gear-a"></i>
                            &nbsp; Edit Profile Settings
                        </a>
                    </ng-template> -->

                    
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-10 offset-md-1">
                <div class="articles-toggle">
                    <ul class="nav nav-pills outline-active">
                        <li class="nav-item">
                            <a class="nav-link" [ngClass]="{'active': (this.isOnFavoritedTab$ | async) === false}"
                                (click)="viewProfileArticles()">My Articles</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" [ngClass]="{'active': (this.isOnFavoritedTab$ | async) === true}"
                                (click)="viewProfileFavoritedArticles()">Favorited Articles</a>
                        </li>
                    </ul>
                </div>

                <rw-article-list></rw-article-list>

                <rw-paginator></rw-paginator>
            </div>
        </div>
    </div>
</div>